@import "tailwindcss";

body {
  background-color: white;
}

@layer components {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  @keyframes scroll-line {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(100%);
    }
  }

  .animate-scroll-line {
    animation: scroll-line 2s cubic-bezier(0.7, 0, 0.3, 1) infinite;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}